{% extends 'budget/base.html' %}

{% block page_header %}
    <p style="color:red; font-size:1px">KOCHAM POLUŚKĘ <3</p>

    {%  if budget %}
    <div class="dropdown">
      <h1>This is your budget for 
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{month}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for mon in months %}
        <a class="dropdown-item" href="{% url 'budget:budget' mon.id %}">{{mon}}</a>
        {% endfor %}
        <a class="dropdown-item" href="{% url 'budget:add_month' %}">Add new month</a>
      </div>
      </h1>
    </div>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% if budget %}

      <table class="table table-hover table-sm" style="width: 100%">
      <thead class="thead-dark">
        <tr style="font-size:22px">
            <th>Category</th>
            <th></th>
            <th>Goal</th>
            <th>Spendings</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
        {% for cat, subs in sub_dict.items %}
        <tr>
            <td style="width: 5%"><a href="{% url 'budget:edit_category' cat.id %}">
              <b>{{cat.name}}</b></a>
            </td>
            <td></td>
            <td><b>{{cat.sum_goals}}</b></td>
            <td><b>{{cat.sum_spendings}}</b></td>
            <td><b>{{cat.calc_balance}}</b></td>
            <td></td>
        </tr>

            {% for sub in subs %} 
            <tr style="font-size:14px">
                <td></td>
                <td>{{sub.name}}</td>
                <td>{{sub.goal}}</td>
                <td>{{sub.spent}}</td>
                <td>{{sub.calc_balance}}</td>
                <td>
                  <a href="{% url 'budget:edit_subcategory' sub.id %}">
                        EDIT
                  </a>
                </td>
            </tr>
            {% endfor %}
        <tr>
              <td></td>
              <td><a href="{% url 'budget:add_subcategory' cat.id %}">
                <b>(+)</b></a>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>

        {% endfor %}
        <tr>
          <td><a href="{% url 'budget:add_category' month.id %}">
            <b>(+)</b></a>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
    </table>
  
    {{graph|safe}}

    {% else %}
        <h3>You have not created any budget yet</h3>
        <form action="{% url 'budget:budget' %}" method="post">
            {% csrf_token %}
            <button name='create' class="btn btn-primary">Create Budget with default categories</button>
        </form>
    {% endif %}

{% endblock content %}
