{% extends 'budget/base.html' %}

{% block page_header %}
    <p style="color:red; font-size:10px">KOCHAM POLUŚKĘ <3</p>
{% endblock page_header %}

{% block content %}
    {% if budget %}

    <!-- FOR MONTH CHOICE -->
    <!-- <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->

    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr style="font-size:22px">
            <th>Category</th>
            <th>Goal</th>
            <th>Spendings</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
        {% for cat, subs in sub_dict.items %}
        <tr>
            <td><b>{{cat.name}}</b></td>
            <td><b>{{cat.sum_goals}}</b></td>
            <td><b>{{cat.sum_spendings}}</b></td>
            <td><b>{{cat.calc_balance}}</b></td>
            <td></td>
        </tr>

            {% for sub in subs %} 
            <tr style="font-size:14px">
                <td>{{sub.name}}</td>
                <td>{{sub.goal}}</td>
                <td>{{sub.spent}}</td>
                <td>{{sub.calc_balance}}</td>
                <td>
                  <a href="{% url 'budget:edit_subcategory' sub.id %}">
                        EDIT
                  </a>
                </td>
            </tr>
            {% endfor %}

        {% endfor %}
    </table>

    {{graph|safe}}

    {% else %}
        <h3>You have not created any budget yet</h3>
        <form action="{% url 'budget:budget' %}" method="post">
            {% csrf_token %}
            <button name='submit' class="btn btn-primary">Create Budget with default categories</button>
        </form>
    {% endif %}
{% endblock content %}

